{% extends 'base.html' %}
{% block content %}
    <h3>Bem-vindo ao Analytics Tools</h3>
    <h5>Analytics Tools é um conjunto de softwares analíticos para auxílio em atividades laboratoriais.</h5>
    <hr>
    <table class="striped">
        <caption>Programas disponíveis</caption>
        <thead>
            <tr>
                <th></th>
                <th>HplcPC</th>
                <th>SpectroWSM</th>
                <th>ViscoRM</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Função</td>
                <td>Compilar relatórios de resultados de HPLC gerados em PDF</td>
                <td>Agrupar arquivos CSV numa planilha única</td>
                <td>Criar relatório com resultados de leituras de viscosidade</td>
            </tr>
            <tr>
                <td>Modelos compatíveis</td>
                <td>Thermo Scientific Accela</td>
                <td>Genesys UV-Vis</td>
                <td>Viscotester Haake 6L</td>
            </tr>
            <tr>
                <td>Modelo de arquivo de entrada</td>
                <td>Os relatórios em PDF devem seguir <a href="{{ url_for('static', filename='images/screen_chromecast.png') }}" data-lightbox="image-1" data-title="pdf-sample">este modelo</a></td>
                <td>Em breve</td>
                <td>Não se aplica</td>
            </tr>
            <tr>
                <td>Como funciona</td>
                <td><a href="https://youtu.be/CmPFARbBiXk">Fluxo de trabalho</a></td>
                <td>Em breve</td>
                <td>Em breve</td>
            </tr>
        </tbody>
    </table>
{% endblock %}