{% extends 'base.html' %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                var messages = {{ messages | safe }};
                for (var i = 0; i < messages.length; i++) {
                    alert(messages[i]);
                }
            </script>
        {% endif %}
    {% endwith %}
    <h2>SpectroWSM</h2>
    <p>Selecione os arquivos com o botão abaixo:</p>
    
    <form method="post" enctype="multipart/form-data" name="csvsForm" onsubmit="return validateCsvForm()">
        {{ form.hidden_tag() }}
        <p>
            {{ form.csv_files(class="waves-effect waves-light btn teal lighten-1") }}
        </p>
        <div class="input-field">
            <p>
                {{ form.filename_field.label }}
                {{ form.filename_field(class="validate") }}
            </p>
        </div>

        <p>
            <button class="waves-effect waves-light btn blue lighten-1 upload-button" type="submit">
                Processar arquivos
                <i class="material-icons right">send</i>
            </button>
        </p>
    </form>
{% endblock %}