{% extends 'base.html' %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                var messages = {{ messages | safe }};
                for (var i = 0; i < messages.length; i++) {
                    alert(messages[i]);
                }
            </script>
        {% endif %}
    {% endwith %}
    <h2>SpectroWSM</h2>
    <p>Selecione os arquivos com o botão abaixo:</p>
    
    <form method="post" enctype="multipart/form-data" name="csvsForm" onsubmit="return validateCsvForm()">
        {{ form.hidden_tag() }}
        <p>
            {{ form.csv_files(class="waves-effect waves-light btn teal lighten-1") }}
        </p>
        <div class="input-field">
            <p>
                {{ form.filename_field.label }}
                {{ form.filename_field(class="validate") }}
            </p>
        </div>
        <ul class="collapsible">
            <li id="show-savgol-menu">
                <div id="savgol-menu-trigger" class="collapsible-header teal lighten-1" onclick="sendValuesOfSavgolFilter()">Aplicar filtro de Saviztky-Golay</div>
                <input id="savgol-option" name="savgol-option"  type="hidden" value="0">
                <div id="savgol-menu" class="collapsible-body"> 
                    <div class="input-field col s12">
                        <p>{{ form.windowlength.label }}</p>
                        {{ form.windowlength(class="browser-default windowlength") }}
                    </div>
                    <div class="input-field col s12">
                        <p>{{ form.polyorder.label }}</p>
                        {{ form.polyorder(class="browser-default polyorder") }}
                    </div>
                </div>
            </li>
        </ul>
        <p>
            <button class="waves-effect waves-light btn blue lighten-1 upload-button" type="submit">
                Processar arquivos
                <i class="material-icons right">send</i>
            </button>
        </p>
    </form>
{% endblock %}